*{
    padding:0;
    margin:0;
    font-family: 'Baloo Bhai 2', cursive;
   
}

header{
    background-color:#F24236;
    padding:20px 0;
    text-align:center;
    position:fixed;
    width: 100%;
    z-index:1;

}

header h1{
    color: white;
    display: inline-block;
    border:  8px solid white;
    border-radius: 60px;
    padding:6px 12px;
}
.banner{
    position:relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
background: yellow;
color:white;
padding: 10px;
font-size: 40px;
position:absolute;
top: 35%;
}
nav{
    background: whitesmoke;
    padding:15px;
    position:sticky;

}
nav ul{
    white-space: nowrap;
    text-align:center;
    max-width: 100%;
}
nav li{
    width:25%;
 display:inline-block;
 font-size:30px;
 text-align: center;

}
nav li a{
    text-decoration:indigo;
    color:grey;
}

main{
    max-width: 100%;
    box-sizing:border-box;
    padding:40px;
    margin:80px auto;

}
article h2{
    color:#F24236;
    font-size:100px;
}
article p{
    color:grey;
    font-weight: bold;

}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
  }
  .images li{
    display: inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    position: relative;
  }
.join{
background:white;
text-align:center;
padding:60px 20px;
color:grey;
}
.join h2{
    font-size:40px;
}
form input{
    margin:20px 0;
    font-size:24px;
    border-radius:28px;
    border:4px solid white;
}
footer{
    background:#F24236;
    color:white;
    padding:20px 0;
    text-align:center;
   
   
}